POSTGRES_DB=aitsi
POSTGRES_USER=aitsi
POSTGRES_PASSWORD=aitsi
POSTGRES_PORT=5432

BACKEND_PORT=8000
FRONTEND_PORT=3000

DATABASE_URL=postgresql+psycopg://aitsi:aitsi@postgres:5432/aitsi

UV_DEFAULT_INDEX=https://pypi.org/simple
UV_INDEX=https://pypi.org/simple
PIP_INDEX_URL=https://pypi.org/simple
